<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static',filename='style.css') }}" rel="stylesheet">
    <img src="https://arpacanada.ca/wp-content/uploads/2017/06/ontario-govt-logo.png" style="width:12%;display:block;margin-top:0em;margin-left:auto;margin-right:auto;">
    <h2 align="center">Ministry of Government and Consumer Services</h2>
    <h1 align="center">AI File Info Process Page</h1>
<style>
h1 {
    
    display: block;
 
    font-size: 3em;
    font-family: 'Montserrat';
    margin-top: 0.9em;

    margin-bottom: 0.9em;

    margin-left: 0;

    margin-right: 0;
    font-weight:bold;
    color: #000;
    }

h2  {
    color: #000;
    font-size: 1em;
    font-family: 'Montserrat';
    font-weight:bold;
    margin-top: 0.6em;
    }
button {
       font-family: 'Montserrat';
       }

</style>
</head>
<body>
  <title>Flask-Dropzone Demo</title>
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; font-family: Montserrat; color:#000; font-weight:bold;margin: 3%; min-height: 290px; margin-top: 1.2em; margin-bottom: 1.2em;background-color:#fff') }}

  {{ dropzone.create(action='http://142.144.9.1:3000/') }}
  {{ dropzone.load_js() }}
  {{ dropzone.config() }}

<div style = "text-align: center;">
    <form action = "http://142.144.9.1:3000/download" method = "POST">
    <button type="submit" name="Download Result" value="Download Result">Download Result</button>
</div>

</body>
</html>
